body{
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}
.profile{
  width: 21%;
  border: solid maroon 2vw;
  border-radius: 50%;
  margin: 10px auto 0;
  display: flex;
}
.name{
  margin: 0 auto;
  color: white;
  display: flex;
  width: 50%;
  height: 7vw;
  font-size: 5vw;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: maroon;
}
.contact{
  position: relative;
  width: 94%;
  height: 50vw;
  background-color: white;
  border-radius: 1vw;
  border: solid maroon 1vw;
  display: flex;
  margin-top: 2vw;
  margin-left: 2%;
}
.contact_me{
  color: white;
  font-size: 3vw;
  width: 20%;
  height: 5vw;
  font-size: 3vw;
  background-color: maroon;
  border-radius: 1.50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vw;
  right: 4.50vw;
}
.line3{
  position: absolute;
  width: .50vw;
  height: 46vw;
  background-color: maroon;
  border: none;
  top: .35vw;
  right: 28vw;
}
.p_logo{
  position: absolute;
  top: 17vw;
  right: 22vw;
  width: 4vw;
  border-radius: 50%;
}
.fb_logo{
  position: absolute;
  top: 24vw;
  right: 22vw;
  width: 4vw;
  border-radius: 50%;
}
.gmail_logo{
  position: absolute;
  top: 31vw;
  right: 22vw;
  width: 4vw;
  border-radius: 50%;
}
.github_logo{
  position: absolute;
  top: 38vw;
  right: 22vw;
  width: 4vw;
  border-radius: 50%;
}
.number{
  position: absolute;
  top: 15vw;
  left: 73vw;
  font-size: 3vw;
  color: black;
}
.fb_name{
  position: absolute;
  top: 24.50vw;
  left: 73vw;
  font-size: 3vw;
  color: black;
}
.email{
  position: absolute;
  top: 31.50vw;
  left: 73vw;
  font-size: 3vw;
  color: black;
}
.github_account{
  position: absolute;
  top: 38.50vw;
  left: 73vw;
  font-size: 3vw;
  color: black;
}
.Introduction{
  position: absolute;
  top: 5vw;
  left: 14vw;
  color: white;
  font-size: 3.50vw;
  margin: 0;
  width: 40%;
  height: 5vw;
  background-color: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.50vw;
}
.Introduce{
  position: absolute;
  background-color: white;
  width: 65%;
  height: 35vw;
  top: 10vw;
  left: 2.50%;
  display: flex;
  font-size: 3.40vw;
  text-align: justify;
  text-indent: 7vw;
  line-height: 1.26;
}
.container{
  position: relative;
  width: 94%;
  height: 163vw;
  margin: 2vw 2% 0;
  background-color: white;
  border-radius: 1vw;
  border: solid maroon 1vw;
}
.Education_cont{
  position: absolute;
  width: 55%;
  height: 74vw;
  background-color: whitesmoke;
  border-radius: 1.50vw;
  top: 2vw;
  left: 3vw;
  display: flex;
  justify-content: center;
  border: solid maroon .50vw;
}
.Education{
  position: absolute;
  font-size: 4vw;
  color: white;
  margin-top: 3vw;
  width: 55%;
  height: 5.20vw;
  background-color: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.50vw;
}
.Primary{
  position: absolute;
  font-size: 3.50vw;
  color: maroon;
  margin-top: 11vw;
  left: 3vw;
}
.OCCES{
  position: absolute;
  font-size: 2.50vw;
  color: black;
  margin-top: 15vw;
  left: 5vw;
}
.Year_1{
  position: absolute;
  font-size: 1.70vw;
  color: maroon;
  margin-top: 18vw;
  left: 5vw;
}
.Secondary{
  position: absolute;
  font-size: 3.50vw;
  color: maroon;
  margin-top: 22vw;
  left: 3vw;
}
.Junior{
  position: absolute;
  font-size: 3.10vw;
  color: darkgreen;
  margin-top: 25.50vw;
  left: 4vw;
}
.MONHS_1{
  position: absolute;
  font-size: 2.50vw;
  color: black;
  margin-top: 29.50vw;
  left: 5vw;
}
.Senior{
  position: absolute;
  font-size: 3.10vw;
  color: darkgreen;
  margin-top: 33vw;
  left: 4vw;
}
.MONHS_2{
  position: absolute;
  font-size: 2.50vw;
  color: black;
  margin-top: 37vw;
  left: 5vw;
}
.HUMMS{
  position: absolute;
  font-size: 2.30vw;
  color: black;
  margin-top: 39.50vw;
  left: 5vw;
}
.Year_2{
  position: absolute;
  font-size: 1.70vw;
  color: maroon;
  margin-top: 42.50vw;
  left: 5vw;
}
.Tertiary{
  position: absolute;
  font-size: 3.50vw;
  color: maroon;
  margin-top: 46.50vw;
  left: 3vw;
}
.USTP{
  position: absolute;
  font-size: 2.50vw;
  color: black;
  margin-top: 50.50vw;
  left: 5vw;
}
.BSIT{
  position: absolute;
  font-size: 2.30vw;
  color: black;
  margin-top: 55.50vw;
  left: 5vw;
}
.Year_3{
  position: absolute;
  font-size: 1.70vw;
  color: maroon;
  margin-top: 58.50vw;
  left: 5vw;
}
.Work{
  position: absolute;
  font-size: 3.50vw;
  color: maroon;
  margin-top: 62.50vw;
  left: 3vw;
}
.INTERN{
  position: absolute;
  font-size: 2.50vw;
  color: black;
  margin-top: 66.50vw;
  left: 5vw;
}
.Month{
  position: absolute;
  font-size: 1.70vw;
  color: maroon;
  margin-top: 69.50vw;
  left: 5vw;
}
.Skill_cont{
  position: absolute;
  width: 35%;
  height: 55vw;
  background-color: whitesmoke;
  border-radius: 1.50vw;
  top: 2vw;
  right: 3vw;
  display: flex;
  justify-content: center;
  border: solid maroon .50vw;
}
.Skill{
  position: absolute;
  font-size: 3vw;
  color: white;
  margin-top: 3vw;
  width: 55%;
  height: 4vw;
  background-color: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.50vw;
}
.Technical{
  position: absolute;
  margin-top: 11vw;
  left: 1.50vw;
  font-size: 3vw;
  color: maroon;
}
.Technical_List{
  position: absolute;
  margin-top: 15vw;
  margin-right: 2vw;
  left: 2.50vw;
  text-align: justify;
  font-size: 2.20vw;
}
.Soft{
  position: absolute;
  margin-top: 22vw;
  left: 1.50vw;
  font-size: 3vw;
  color: maroon;
}
.Soft_List{
  position: absolute;
  margin-top: 26vw;
  margin-right: 2vw;
  left: 2.50vw;
  text-align: justify;
  font-size: 2.20vw;
}
.Language{
  position: absolute;
  margin-top: 32.50vw;
  left: 1.50vw;
  font-size: 3vw;
  color: maroon;
}
.Language_List{
  position: absolute;
  margin-top: 36.50vw;
  margin-right: 2vw;
  left: 2.50vw;
  text-align: justify;
  font-size: 2.20vw;
}
.Tool{
  position: absolute;
  margin-top: 43.50vw;
  left: 1.50vw;
  text-align: justify;
  font-size: 3vw;
  color: maroon;
}
.Tool_List{
  position: absolute;
  margin-top: 47.50vw;
  margin-right: 2vw;
  left: 2.50vw;
  text-align: justify;
  font-size: 2.20vw;
}
.Link_cont{
  position: absolute;
  width: 35%;
  height: 17vw;
  background-color: whitesmoke;
  border-radius: 1.50vw;
  top: 59vw;
  right: 3vw;
  display: flex;
  justify-content: center;
  border: solid maroon .50vw;
}
.Link{
  position: absolute;
  font-size: 3vw;
  color: white;
  margin-top: 1.50vw;
  width: 55%;
  background-color: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.50vw;
}
.Name{
  position: absolute;
  margin-top: 7vw;
  left: 3vw;
  font-size: 2.30vw;
}
.Email{
  position: absolute;
  margin-top: 9.50vw;
  left: 3vw;
  font-size: 2.30vw;
}
.Number{
  position: absolute;
  margin-top: 12.50vw;
  left: 3vw;
  font-size: 2.30vw;
}
.Project_cont{
  position: relative;
  width: 93%;
  height: 82vw;
  background-color: whitesmoke;
  border-radius: 1.50vw;
  top: 78vw;
  left: 3vw;
  display: flex;
  justify-content: center;
  border: solid maroon .50vw;
}
.Project{
  position: absolute;
  font-size: 4vw;
  color: white;
  margin-top: 3vw;
  width: 55%;
  height: 5.20vw;
  background-color: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.50vw;
}
.Project_Title{
  position: absolute;
  margin-top: 11vw;
  left: 3vw;
  font-size: 4vw;
  color: maroon;
}
.Title{
  position: absolute;
  margin-top: 15vw;
  left: 4.40vw;
  font-size: 3vw;
  text-indent: 3vw;
}
.Description{
  position: absolute;
  margin-top: 20vw;
  left: 3vw;
  font-size: 4vw;
  color: maroon;
}
.Descrip{
  position: absolute;
  margin-top: 24vw;
  left: 4.40vw;
  font-size: 3vw;
  width: 91.20%;
  text-align: justify;
  text-indent: 3vw;
}
.Role{
  position: absolute;
  margin-top: 42vw;
  left: 3vw;
  font-size: 4vw;
  color: maroon;
}
.Lead{
  position: absolute;
  margin-top: 46vw;
  left: 4.40vw;
  font-size: 3vw;
  width: 91.20%;
  text-align: justify;
  text-indent: 3vw;
}
.Outcome{
  position: absolute;
  margin-top: 50vw;
  left: 3vw;
  font-size: 4vw;
  color: maroon;
}
.Out{
  position: absolute;
  margin-top: 54vw;
  left: 4.40vw;
  font-size: 3vw;
  width: 91.20%;
  text-align: justify;
  text-indent: 3vw;
}
